* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: rgb(255, 153, 51, 0.4);
    padding: 15%;
    margin: 5%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    color: white;
    font-weight: bolder;
    padding: 1em;
    background-color: rgb(255, 153, 51, 0.8);
    border: none;
    border-radius: 3px;
}

button:hover {
    color: rgb(255, 153, 51, 1);
}

